{
  "name": "idlerpg",
  "plugins": ["idlerpg"],
  "services": ["matrix"],
  "matrix": {
    "token": "Find this in your user settings",
    "user": "@idlerpg:verse.im",
    "pass": "password for the above user",
    "authority": "https://matrix.verse.im"
  },
  "slack": {
		"token": "Get a token from: https://maki-dev.slack.com/apps/new/A0F7YS25R-bots"
  },
  "idlerpg": {
    "channel": "idlerpg"
  }
}
